*.pyc
*~
__pycache__
db.sqlite3
.DS_Store

# Django #
*.log
local_settings.py

# PyCharm #
.idea/

# Jupyter Notebook #
.ipynb_checkpoints

# VS Code #
.vscode/

# Ignore changes to training notebook
/model_training/model_train.ipynb
/model_training/sc_x.pkl
/model_training/model_pkl

# Ignore changes to visualizations notebook
/visualizations/visualizations.ipynb