<!-- templates/home.html -->
{% extends "base.html" %}


{% block content %}
<div class="container">
    <h1>Would you Survive the Titanic?</h1>


  <!-- This form references the homePost route. -->
<form action="{% url 'homePost' %}" method="post">
{% csrf_token %}

<h3>Ticket Class</h3>
<select name="ticket_class" id="ticket_class">
  <option value="1">1</option>
  <option value="2">2</option>
  <option value="3">3</option>
</select>

<h3>Passenger Gender</h3>
<input type="radio" id="gender_male" name="gender" value="0">
<label for="gender_male">Male</label><br>
<input type="radio" id="gender_female" name="gender" value="1">
<label for="gender_female">Female</label><br>

<h3>Passenger Age</h3>
<input type="text" id="passenger_age" name="passenger_age"><br>

<h3>Passenger Fare</h3>
<input type="text" id="passenger_fare" name="passenger_fare"><br><br>

<!-- Submit button is also contained in the form -->
<input type="submit" value="Submit">
</form>
<!-- End of form. -->

<!-- This error will notify the user if there are issues with the POST request -->
{% if errorMessage %}<p><strong>{{errorMessage}}</strong></p>{% endif %}
{% endblock content %}
</div>